#main{
    #agence{
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        margin-bottom: 3rem;
        & article{
            width: 72%;
            & h2, h3{
                margin-top: 0;
                margin-bottom: 5rem;
                font-size: 25px;
                font-weight: 100;
            }
            & h3{
                max-width: 70%;
            }
        }
        & .agence-article{
            display: flex;
            & .description{
                display: flex;
            }
            & .steps{
                & .steps-description{
                    white-space: pre-wrap;
                }
                & .card-wrapper{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    align-items: center;
                    margin-top: 2rem;
                    & .card-container{
                        margin: 1rem auto 1rem auto;
                    }
                    & .arrow{
                        font-size: xx-large;
                    }
                }
            }
            & .text{
                width: 80%;
                padding: 0 2rem 2rem 2rem;
                text-align: end;
            }
            & img{
                height: 500px;
            }
        }
    }
}
header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 92%;
    & .logo-container{
        width: fit-content;
    }
}

figure{
    width: min-content;
    text-align: center;
    margin: 1rem 0 0 4rem;
    & img{
        max-height: 120px;
        max-width: 170px;
    }
    & figcaption{
        font-size: 0.6rem;
        width: 95%;
        margin: -1rem auto auto 0.5rem;
    }
}
.nav-wrapper{
    position: relative;
    width: fit-content;
    & ul{
        margin: 0 0 0 -3.5rem;
    }
    & .section-title{
        position: absolute;
        left: 0;
        padding-left: 2rem;
        padding-right: 2rem;
        width: max-content;
        font-size: 35px;
        letter-spacing: 0.25em;   
        font-weight: 100;
        margin: 0;
        background-color: white;
        z-index: 9999;
    }
    & .line-1::after{
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 0.8px;
        height: 98px;
        background-color: black;
    }
    & .line-2{
        width: 18vw;
        height: 100%;
        &::after{
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 0.8px;
            height: 100%;
            background-color: black;
        }
    }
    & .line-1, .line-2{
        text-align: center;
        padding: 1rem 0rem 1.5rem 0;
        &.hidden{
            display: none;
        }
    }
}
.internal-link{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    margin-top: -3rem;
    width: 20vw;
    height: 100%;
    & a{
        margin: auto;
        text-decoration: none;
        color: inherit;
    }
    & h1, li:not(.item):not(.line-1){
        text-align: center;
        width: max-content;
        padding: 2.5rem 0rem 2.5rem 0.5rem;
        transform: rotate(-90deg);
    }
    & .nav-hidden{
        display: none;
    }
    & .item{
        font-size: x-large;
        text-align: center;
        padding: 0.5rem 0 0.5rem 0;
    }
} 
#home{
    display: flex;
    position: relative;
}
.carousel-container{
    margin-bottom: 2rem;
    width: 100%;
    height: fit-content;
    & .carousel{
        width: 90%;
        height: 550px;
        background-color: gray;
    }
}
@media screen and (max-width:1440px) {
    .nav-wrapper{
        & .section-title{
            font-size: 2rem;
            left: -1rem;
        }
    }
}
@media screen and (max-width:1255px) {
    #agence{
        & .agence-article{
            & .arrow{
                visibility: hidden;
            }
        }
    }
    .nav-wrapper{
        & .section-title{
            left: -2rem;
        }
    }
}

@media screen and (max-width:998px) {
    #main{
        #agence{
            & .agence-article{
                & .description{
                    flex-direction: column-reverse;
                    align-items: center;
                }
                & .text{
                    text-align: center;
                    width: 100%;
                    & h2{
                        text-align: center;
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }
    .nav-wrapper{
        & .section-title{
            left: -3.3rem;
        }
    }
}
@media screen and (max-width:800px){

    .header-sub{
        display: none;
    }
    #agence{
        .section-title{
            left: -4rem;
        }
    }
    figure{
        margin-left: 1rem;
        & img{
            height: 5rem;
            width: 7rem;
        }
        & figcaption{
            visibility: hidden;
        }
    }
    .nav-wrapper{
        display: flex;
        flex-direction: column;
        & ul{
            margin: 0 0 0 -3rem;
        }
        & .line-1{
            &.hidden{
                display: block;
            }
        }
        & nav{
            & .internal-link{
                & li:not(.item, .line-1){
                    display: none;
                }
                & li:nth-child(2){
                    display: block;
                    width: 100%;
                }
            } 
        }
    }
}
@media screen and (max-width:650px) {
    #main{
        #agence{
            & .agence-article{
                & img {
                    height: 300px;
                }
            }
        }
    }
    #agence{
        & .section-title{
            left: -5rem;
        }
    }
}

@media screen and (max-width:580px) {
    #agence{
        & .section-title{
            left: -5.5rem;
        }
    }
}
@media screen and (max-width: 450px) {
    .carousel-container{
        & .carousel{
            height: 300px;
        }
    }   
    .internal-link{
        margin-top: 5rem;
        & .item{
            margin-left: 0.3rem;
        }
    }
    #agence{
        & .agence-article{
            margin-top: -8rem;
        }
        & .section-title{
            font-size: 1.1rem;
            padding: 0 1rem 0 1rem;
            left: -2.4rem;
        }
    }
}
@media screen and (max-width: 320px) {
    #agence{
        & .agence-article{
            margin-top: -8rem;
        }
        & .section-title{
            font-size: 1.1rem;
            padding: 0 1rem 0 1rem;
            left: -3rem;
        }
    }
}
