#root{
    overflow: hidden;
}
#main{
    & section{
        display: flex;
        margin-bottom: 3rem;
        animation: fadeIn 600ms ease-in-out;
        & .form-wrapper{
            display: flex;
            margin-top: 9rem;
            width: 100%;
        }
        & .form-foto{
            & img{
                width: 300px;
                height: 400px;
            }
        }
        & form{
            display: grid;
            grid-template-columns: auto;
            width: 60%;
            margin: auto;
            & label{
                position: relative;
                padding: 1rem;
                & input, textarea{
                    &.error{
                        border-bottom: 2px solid red;
                    }
                    border: none;
                    border-bottom: 1px solid black;
                    margin-top: 1rem;
                    width: 80%;
                    &:focus{
                        outline: none;
                    }
                }
            }
            & .submit-btn{
                border: none;
                background-color: transparent;
                width: 80%;
                text-align: end;
                font-size: 22px;
                margin-top: 2rem;
            }
        }
    }
    & #contact{
        margin-top: -6rem;
    }
    & #agence{
        flex-direction: column;
        margin-top: 3rem;
        & article{
            width: 72%;
            & h2, h3{
                margin-top: 0;
                margin-bottom: 5rem;
                font-size: 25px;
                font-weight: 100;
            }
            & h3{
                max-width: 70%;
            }
        }
        & .agence-article{
            display: flex;
            & .description{
                display: flex;
                & img{
                    margin-bottom: 2rem;
                    height: 500px;
                }
            }
            & .steps{
                & .steps-description{
                    white-space: pre-wrap;
                }
                & .quotes-container{
                    display: flex;
                    justify-content: space-between;
                    width: 80%;
                    margin: 7rem auto auto auto;
                    & .quotes{
                        width: 80%;
                        text-align: center;
                    }
                    & .quote-icon:nth-child(n+2){
                        align-self: flex-end;
                        text-align: end
                    }
                    & .quote-icon{
                        width: 5%;
                        height: 5%;
                        & img{
                            width: 100%;
                            height: 100%;
                        }
                    } 
                }
                & .card-wrapper{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    align-items: center;
                    margin-top: 2rem;
                    & .card-container{
                        margin: 1rem auto 1rem auto;
                    }
                    & .arrow{
                        font-size: xx-large;
                    }
                }
            }
            & .text{
                width: 80%;
                padding: 0 2rem 2rem 2rem;
                text-align: end;
            }
        }
    }
}
.loader{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #E0DEDA;
    z-index: 9999;
    & img{
        max-width: 250px;
        animation: fadeIn 1s ease-in-out;
    }
}
header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 92%;
    & .mobile-toggle{
        visibility: hidden;
        position: absolute;
        top: 2rem;
        right: 0;
        background: none;
        cursor: pointer;
        border: none;
        padding: 10px;
        &.open .bar:nth-child(1) {
            transform: rotate(-45deg) translate(-5px, 6px);
        }
        
        &.open .bar:nth-child(2) {
            opacity: 0;
        }
        
        &.open .bar:nth-child(3) {
            transform: rotate(45deg) translate(-5px, -6px);
        }
        & .bar {
            display: block;
            width: 25px;
            height: 3px;
            background-color: rgba(0, 0, 0, 0.634);
            margin: 5px 0;
            transition: 0.4s;
        }
    }
    & .mobile-nav{
        position: absolute;
        top: 7rem;
        height: 100vh;
        width: 100vw;
        background-color: white;
        opacity: 0;
        z-index: -1;
        &.show{
            opacity: 1;
            animation: fadeIn 400ms ease-in-out;
            z-index: 10;
        }
        & ul{
            width: fit-content;
            margin: auto;
            list-style-type: none;
            & li{
                margin-right: 1rem;
                padding: 2rem;
            }
        }
    }
    & .logo-container{
        width: fit-content;
    }
}

#auben-logo{
    width: min-content;
    text-align: center;
    margin: 1rem 0 0 4rem;
    & img{
        max-height: 120px;
        max-width: 170px;
    }
    & figcaption{
        font-size: 0.6rem;
        width: 95%;
        letter-spacing: 2px;
        margin: -1rem auto auto 0.5rem;
    }
}
.nav-wrapper{
    position: relative;
    width: fit-content;
    & ul{
        margin: 0 0 0 -3.5rem;
    }
    & .section-title{
        position: absolute;
        left: 0;
        padding-left: 2rem;
        padding-right: 2rem;
        width: max-content;
        font-size: 35px;
        letter-spacing: 0.25em;   
        font-weight: 100;
        margin: 0;
        background-color: white;
        z-index: 9999;
    }
    & .line-1::after{
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 0.8px;
        height: 98px;
        background-color: black;
    }
    & .line-2{
        width: 18vw;
        height: 100%;
        &::after{
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 0.8px;
            height: 100%;
            background-color: black;
        }
    }
    & .line-1, .line-2{
        text-align: center;
        padding: 1rem 0rem 1.5rem 0;
        &.hidden{
            display: none;
        }
    }
}
a {
    text-decoration: none;
    color: inherit;
}
.internal-link{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    margin-top: -3rem;
    width: 20vw;
    height: 100%;
    & a{
        margin: auto;
        &:hover{
            cursor: pointer;
            transform: scale(1.1);
            transition: transform 250ms ease-out;
        }
    }
    & h1, li:not(.item):not(.line-1){
        text-align: center;
        width: max-content;
        padding: 2.5rem 0rem 2.5rem 0.5rem;
        transform: rotate(-90deg);
    }
    & .nav-hidden{
        display: none;
    }
    & .item{
        font-size: x-large;
        text-align: center;
        padding: 0.5rem 0 0.5rem 0;
    }
} 
#home{
    display: flex;
    position: relative;
}
.carousel-container{
    position: relative;
    width: 74%;
    height: fit-content;
    & .btn-container{
        position: absolute;
        width: 100%;
        bottom: 5rem;
        text-align: center;
        & .carousel-btn{
            padding: 1rem 2rem 1rem 2rem;
            background-color: rgba(#000000, 0.4);
            border: 1px solid white;
            color: white;
            &:hover{
                transform: scale(1.1);
                transition: transform 150ms ease-in-out;
            }
        }
    }
}
.carousel .slider-wrapper.axis-horizontal .slider .slide{
    max-height: 550px;
    & .carousel-wrapper{
        & img{
            max-height: 550px;
            object-fit: cover;
            object-position: 65% 35%;
        }
    }
}
.line-3{
    width: 18vw;
    height: 100%;
    text-align: center;
    &::after{
        content: '';
        display: inline-block;
        background-color: black;
        height: 100%;
        width: 0.8px;
    }
}
#gallery-container{
    display: flex;
    h5 {
        font-weight: 300;
        font-size: 0.8rem;
        margin-top: -1.7rem;
        & span{
            padding: 0.5rem;
            line-height: 1px;
            font-size: large;
        }
    }
    .gallery{
        margin-bottom: 6rem;
        animation: fadeIn 600ms ease-in-out;
        width: 91%;
    }
    & .gallery-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        & .card{
            margin: 0.2rem;
            width: 270px;
            height: 270px;
            &:hover{
                transform: scale(1.05);
                transition: transform 250ms ease-in-out;
            }
            & img{
                object-fit: cover;
                width: 100%;
                height: 270px;
            }
        }
    }
}

#item-gallery{
    display: flex;
    animation: fadeIn 600ms ease-in-out;
    & .item-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: auto;
        & figure{
            width: 49%;
            height: 340px;
            margin: 0.2rem;
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    & section{
        width: 73%;
    }
}
footer{
    position: absolute;
    background-color: #E0DEDA;
    margin-top: 2rem;
    width: 100%;
    height: 200px;
    & #auben-footer{
        width: fit-content;
        margin: auto;
        & img{
            margin-top: 2rem;
            max-width: 150px;
        }
    }
}
@media screen and (max-width:1440px) {
    .nav-wrapper{
        & .section-title{
            font-size: 2rem;
            left: -1rem;
        }
    }
}
@media screen and (max-width:1255px) {
    header figcaption{
        visibility: hidden;
    }
    #agence{
        & .agence-article{
            & .arrow{
                visibility: hidden;
            }
        }
    }
    .nav-wrapper{
        & .section-title{
            left: -2rem;
        }
    }
}

@media screen and (max-width:998px) {
    #main{
        #agence{
            & .agence-article{
                & .description{
                    flex-direction: column-reverse;
                    align-items: center;
                }
                & .text{
                    text-align: center;
                    width: 100%;
                    & h2{
                        text-align: center;
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }
    .nav-wrapper{
        & .section-title{
            left: -3.3rem;
        }
    }
    .card{
        width: 100%;
    }
    #item-gallery .item-container figure{
        width: 100%;
    }
}
@media screen and (max-width:800px){

    .header-sub{
        display: none;
    }
    #agence, #contact{
        .section-title{
            left: -4rem;
        }
    }
    header{
        & .mobile-toggle{
            visibility: visible;
        }
        & figure{
            & img{
                margin-left: -3rem;
                height: 5rem;
                width: 7rem;
            }
        }
    }
    .nav-wrapper{
        display: flex;
        flex-direction: column;
        & ul{
            margin: 0 0 0 -3rem;
        }
        & .line-1{
            &.hidden{
                display: block;
            }
        }
        & nav{
            & .internal-link{
                & li:not(.item, .line-1){
                    display: none;
                }
                & li:nth-child(2){
                    display: block;
                    width: 100%;
                }
            } 
        }
    }
    .carousel-container{
        & .carousel img{
            height: 400px;
        }
    }   
    .carousel-counter{
    display: none;
    }
    .carousel-controls{
    transform: translateY(-500%);
    }
    #main{
        & #agence{
            & .agence-article{
                & .steps{
                    & .quotes-container{
                        width: 100%;
                    }
                }
            } 
        } 
    }
    .form-foto{
        display: none;
    }
    #gallery-container{
        & .gallery-wrapper{
            & .card{
                margin: 0.2rem;
                width: 100%;
                height: auto;
                & img{
                    height: auto;
                }
            }
        }
    }
}
@media screen and (max-width: 666px) {
    .gallery-wrapper{
        & .card{
            max-width: 370px;
            height: 270px;
            &:hover{
                transform: scale(1.05);
                transition: transform 250ms ease-in-out;
            }
            & img{
                object-fit: cover;
                width: 100%;
                height: 270px;
            }
        }
    }
}
@media screen and (max-width:650px) {
    #main{
        #agence{
            & .agence-article{
                & img {
                    height: 300px;
                }
            }
        }
    }
    #agence, #contact{
        & .section-title{
            left: -5rem;
        }
    }
}

@media screen and (max-width:580px) {
    #agence, #contact{
        & .section-title{
            left: -5.5rem;
        }
    }
}
@media screen and (max-width: 450px) {
    .carousel-container{
        & .btn-container{
            display: none;
        }
        & .carousel img{
            height: 300px;
            width: 95%;
        }
    }   
    .carousel-controls{
        transform: translateY(-350%);
        width: 95%;
        & img{
            width: 20px;
        }
    }
    #agence{
        .internal-link{
            margin-top: 5rem;
            & .item{
                margin-left: 0.3rem;
            }
        }    
    }
    #agence, #contact{
        & .agence-article{
            margin-top: -8rem;
        }
        & .section-title{
            font-size: 1.1rem;
            padding: 0 1rem 0 1rem;
            left: -2.4rem;
        }
    }
}
@media screen and (max-width: 320px) {
    #agence, #contact{
        & .agence-article{
            margin-top: -8rem;
        }
        & .section-title{
            font-size: 1.1rem;
            padding: 0 1rem 0 1rem;
            left: -3rem;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
